.white-panel {
    background-color: rgba(255, 255, 255, 1);
    position        : absolute;
    top             : 5em;
    width           : 35%;
    right           : calc(50% - 50px);
    transition      : .3s ease-in-out;
    z-index         : 0;
    box-shadow      : 0 0 15px 9px #00000096;
}

.login-show {
    z-index   : 1;
    display   : block;
    opacity   : 0.9;
    transition: 0.3s ease-in-out;
    color     : #242424;
    text-align: left;
    padding   : 50px;
}

.login-show input[type="text"],
.login-show input[type="password"] {
    width  : 100%;
    display: block;
    margin : 20px 0;
    padding: 15px;
    border : 1px solid #b5b5b5;
    outline: none;
}

.login-show button {
    max-width     : 150px;
    width         : 100%;
    background    : #444444;
    color         : #f9f9f9;
    border        : none;
    padding       : 10px;
    text-transform: uppercase;
    border-radius : 2px;
    float         : right;
    cursor        : pointer;
}

.App {
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

form {
    max-width: 500px;
    width    : 100%;
    margin   : 0 auto;
}

label,
input {
    display: block;
    width  : 100%;
}

label {
    margin-bottom: 5px;
    height       : 22px;
}

input {
    margin-bottom: 20px;
    padding      : 10px;
    border-radius: 3px;
    border       : 1px solid #777;
}

input.error {
    border-color: red;
}

.input-feedback {
    color        : rgb(235, 54, 54);
    margin-top   : -15px;
    font-size    : 14px;
    margin-bottom: 20px;
}

button {
    padding         : 10px 15px;
    background-color: rgb(70, 153, 179);
    color           : white;
    border          : 1px solid rgb(70, 153, 179);
    transition      : ease-in-out background-color 250ms, ease-in-out color 250ms;
}